@import url("https://use.typekit.net/ksv2pnb.css");
* {
  margin: 0;
  padding: 0px;
}

body {
  background: rgb(19, 18, 18);
  background: radial-gradient(circle, rgb(19, 18, 18) 0%, rgb(34, 33, 33) 42%, rgb(41, 40, 40) 66%, rgb(67, 66, 66) 96%, rgb(85, 85, 85) 100%);
}

.logo img {
  position: absolute;
  padding: 5px 10px 10px 2%;
  color: #ffffff;
  max-width: 80px;
  max-height: 80px;
  float: left;
  z-index: 1;
}

nav {
  width: 100%;
  z-index: 10;
  background-color: #131212;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: right;
  padding: 0 5% 20px 0;
  margin-bottom: auto;
  z-index: 1;
}
nav ul li {
  padding: 20px 25px 0 25px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 17px;
}
nav ul li a:hover {
  color: #BF0413;
}

.container1 {
  padding: 175px 15%;
}
.container1 .c1-item1 h1 {
  font-family: poster-cut-neue, sans-serif;
  font-size: 40px;
  color: #ffffff;
}
.container1 .c1-item1 p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
}
.container1 .c1-item2 .Telte {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer {
  background-color: #131212;
  padding: 50px 15%;
  display: flex;
}
.footer h1 {
  font-family: poster-cut-neue, sans-serif;
  font-size: 40px;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 5% 20px 5%;
}
.footer p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 0px 5% 20px 5%;
}
.footer .f-item1 {
  flex-grow: 1;
  max-width: 33%;
  height: auto;
  padding: 0 20px 0 20px;
}
.footer .f-item2 {
  height: auto;
  flex-grow: 1;
  max-width: 33%;
  padding: 0 20px 0 20px;
}
.footer .f-item2 .btn {
  background-color: rgba(85, 85, 85, 0.573);
  color: #ffffff;
  margin: 0 0 5px 10px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}
.footer .f-item2 .btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2em 0.1em #ffffff;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(85, 85, 85, 0.573);
}
.footer .f-item2 .box {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 6px;
  height: 35px;
  padding: 0 0 0 8px;
}
.footer .f-item3 {
  height: auto;
  flex-grow: 1;
  max-width: 33%;
  padding: 0 20px 0 20px;
}

@media (max-width: 1175px) {
  .logo img {
    max-width: 70px;
    max-height: 70px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .f-item1 {
    max-width: 75%;
  }
  .footer .f-item2 {
    max-width: 75%;
  }
  .footer .f-item3 {
    max-width: 75%;
  }
}
@media (max-width: 625px) {
  nav ul {
    padding: auto;
  }
  nav ul li {
    padding: 20px 7px 0 7px;
  }
  nav ul li a {
    font-size: 15px;
  }
  .container1 {
    padding: 50px 15%;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer h1 {
    font-size: 15px;
  }
  .footer p {
    font-size: 11px;
  }
  .footer .f-item1 {
    max-width: 100%;
  }
  .footer .f-item2 {
    max-width: 100%;
  }
  .footer .f-item3 {
    max-width: 100%;
  }
}/*# sourceMappingURL=info.css.map */